<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="pasu.nakshatraDesigners">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="28" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <queries>
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>
    </queries>

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/CustomTheme"
            android:usesCleartextTraffic="true">
        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false" />

        <activity
                android:name=".SplashActivity"
                android:screenOrientation="portrait"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".signIn.SignInActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
                android:name=".signIn.PhoneVerificationActivity"
                android:screenOrientation="portrait" />

        <activity
                android:name=".signIn.SignupActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".VideoListActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".signIn.PasswordActivity"
                android:screenOrientation="portrait" />

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyAzkM21sG8ACfHYhia-ZYKdTueODP_cKkI" />
        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="@string/ad_mob_app_id" />
    </application>

</manifest>