<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pasu.nakshatraDesigners">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/CustomTheme"
            android:usesCleartextTraffic="true">
        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>

        <activity
                android:name=".SplashActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".signIn.SignInActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|adjustPan"/>
        <activity
                android:name=".signIn.PhoneVerificationActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".WebViewFrag"/>
        <!-- <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/> -->
        <activity
                android:name=".signIn.SignupActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".VideoListActivity"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".signIn.PasswordActivity"
                android:screenOrientation="portrait"/>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyAzkM21sG8ACfHYhia-ZYKdTueODP_cKkI"/>
        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="@string/ad_mob_app_id"/>
    </application>

</manifest>